.message {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    position: relative;
    margin: 48px 0;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background-color: rgba(0, 102, 204, 0.89);
    padding: 7px 12px 8px 13px;
    border-radius: 5px 5px 0 5px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: -12px;
    bottom: 0;
    background: linear-gradient(225deg, rgba(255,255,255,1) 50%, rgba(0,102,204,1) 50%);
    z-index: 1;
}

.name {
    text-align: right;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.messageText {
    color: #FFF;
    font-size: 16px;
    z-index: 2;
    word-wrap: break-word;
}

.time {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    bottom: -10px;
}