.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 30;
    left: -100%;
    transition: all 0.2s;
}

.sidebar.open {
    left: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: absolute;
    z-index: 4;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 70px 130px 0 70px;
}

.nav a {
    outline: none;
    text-decoration: none;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: #0059B2;
    text-decoration-line: underline;
}

.close {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close img {

}
