.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: #C00;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    bottom: -30px;
    position: absolute;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
    outline: none;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid red;
    border-radius: 5px;
}

.button {
    cursor: pointer;
    border: none;
    padding: 5px 24px;
    border-radius: 3px;
    background-color: #06C;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background-color: rgba(0, 102, 204, 0.5)
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.greeting {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
