.sendForm {
    display: flex;
    justify-content: space-between;
    gap: 44px
}

.textarea {
    overflow: hidden;
    resize: none;
    border: none;
    padding: 12px 24px;
    outline: none;
    width: 976px;
}

.button {
    border-radius: 20px;
    background: #06C;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 38px;
    border: none;
    cursor: pointer;
}

.button:hover {

}

.button:active {

}
