.select {
    width: 180px;
    height: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    background: #FFF;
}

.select:focus {
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}


.option:hover {
}
